#consulenti{
    // background-color: $white-sfondo;
  
    main {
        h2{@include h2-bgw;
        @include grid-col-startend(1,3);
        padding-bottom: 10vh;}
        @include grid-column(grid, 1fr 4fr, center );
        padding: 20vh 0;
        margin: 0 3vw 0 5vw;
       
        .nav_categories{
            @include grid-col-startend(1, 2);
           width: 250px;
            ul{ display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 50vh;
            li{
                list-style:none;
                a{font-size: 1.2rem;}
            }}
        }
        .nav_categories_comparsa, .cat{
            display: none;
        }
        .container-consulenti{
            display: flex;
            flex-wrap: wrap;
            gap: 30px;
        }
        .card-consulenti {
            display: flex;
            background-color: $white;
            height: 180px;
            border-radius:100px 15px 15px 100px;
            max-width: 550px ;
            margin: 10px 2px;
            figure{
                height: 200px;
                width: 200px;
                position: relative;
                top: -10px;
                background: url(../img/cv.jpg) no-repeat center center;
                background-size: cover;
                border-radius: 100%;
                transition: ease 0.1s;
                &:hover {
                    transform: scale(1.05);
                                    animation: pulse 0.6s ease 0.1s 1;
                                    transition: transform .6s, ease;
                                    border: solid $red 2px;
                                    @keyframes pulse{
                                        from{ box-shadow: 0 0 0 0 rgba(221, 7, 7, 0.4)}
                                        to{box-shadow: 0 0 0 5px rgba(241, 25, 25, 0)}
                                    }            
                }
            }
            
            .text-box-card-c{
                
                max-height:150px ;
                max-width: 250px;
                padding: 25px 0 25px 15px;
                h3{
                    @include h3-card-article-bgw;
                    font-size: 1.2rem;
                    text-transform: uppercase;
                    a{color: $dark-grey;
                     &:hover{color: $red;
                            transition: color .3s ease;}}
                }
                p a{ color:$black;
                    font-size: 1.2rem;
                    &:hover{color: $red;
                        transition: color .3s ease;}}
                .intro-consulenti-card{ 
                    @include p-default-bgw;
                    font-size: 0.9rem;
                    padding-top: 0.6rem;
                }
               
            }
            .circle{ 
                position: relative;
                left:15px;
                top:-15px;
                background-color: $white;
                border-radius: 50%;
                height: 50px;
                width: 50px;
                box-shadow: -3px 3px 10px #42424221 ;
                // border: solid 1px coral;
                display: flex;
                align-items: center;
                justify-content: center;
                .catIcon{
               
                    color: $red;}
                    
                &:hover{ 
                    background-color: $red;
                    .catIcon{color:$white;}
                    transform: scale(1.1);
                    transition: ease-in 0.3s;
                }
               
                }
           
            }
        
            @media (max-width: 1420px){
                margin: 0 3vw;
                display: grid;
                @include grid-column(grid, 1fr 4fr, center );
                grid-template-rows: repeat(auto-fill, 100px);
                .nav_categories{
                    @include grid-row-startend(2,3);
                    @include grid-col-startend(1, 3);
                    height: 5vh;
                    width: auto;
                    ul{display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        align-items: flex-start;
                        
                        li{
                            margin: 0 2px;
                            a{
                                font-size: 0.9rem;
                            }
                        }
                    }  
                }
                .container-consulenti{
                    @include grid-col-startend(1, 3);
                    padding: 0;
                    // gap: 3vh;
                    margin: 6vh auto;
                   gap: 10px;
                    box-sizing: content-box;
                    .card-consulenti{
                        display: flex;
                        background-color: $white;
                        height: 126px;
                        border-radius:100px 15px 15px 100px;
                       
                        margin: 10px 2px;
                        figure{
                            height: 140px;
                            width: 140px;
                            position: relative;
                            top: -7px;
                            background: url(../img/cv.jpg) no-repeat center center;
                            background-size: cover;
                            border-radius: 100%;
                            transition: ease 0.1s;
                            &:hover {
                                transform: scale(1.05);
                                                animation: pulse 0.6s ease 0.1s 1;
                                                transition: transform .6s, ease;
                                                border: solid $red 2px;
                                                @keyframes pulse{
                                                    from{ box-shadow: 0 0 0 0 rgba(221, 7, 7, 0.4)}
                                                    to{box-shadow: 0 0 0 5px rgba(241, 25, 25, 0)}
                                                }            
                            }
                        }
                        
                        .text-box-card-c{
                            
                            max-height:105px ;
                            max-width: 175px;
                            padding: 17.5px 0 17.5px 10.5px;
                            h3{
                                @include h3-card-article-bgw;
                                font-size: 0.8rem;
                                text-transform: uppercase;
                                a{color: $dark-grey;
                                 &:hover{color: $red;
                                        transition: color .3s ease;}}
                            }
                            p a{ color:$black;
                                font-size: 0.8rem;
                                &:hover{color: $red;
                                    transition: color .3s ease;}}
                            .intro-consulenti-card{ 
                                @include p-default-bgw;
                                font-size: 0.6rem;
                                padding-top: 0.4rem;
                            }
                           
                        }
                        .circle{ 
                            position: relative;
                            left:10.5px;
                            top:-10.5px;
                            background-color: $white;
                            border-radius: 50%;
                            height: 35px;
                            width: 35px;
                            box-shadow: -2.1px 2.1px 7px #42424221 ;
                            // border: solid 1px coral;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .catIcon{
                                transform: scale(0.7);
                                color: $red;}
                                
                            &:hover{ 
                                background-color: $red;
                                .catIcon{color:$white;}
                                transform: scale(1.1);
                                transition: ease-in 0.3s;
                            }
                           
                            }
                       
                    }
                }
                
            } //chiude media
            @media (max-width: 880px){
                h2{font-size: 2.3rem;
                    justify-self: flex-start;
                   
                }
          
                .container-consulenti{justify-content: center;}
            }
            @media (max-width: 780px){
                h2{ padding: 0;
                    height: 1.5rem;}
                .nav_categories{display: none;}
                .cat{display: block;
                             @include grid-col-startend(1,3);
                    justify-self: flex-start;
                            border: none; background: none;
                                span{@include a-primary;
                                    font-family: $primary-font;
                                    color: $dark-grey;
                                    font-size: 1rem;}
                            }
                .nav_categories_comparsa{
                    display: block;
                    background-color:$white;
                    display: flex;
                    flex-direction: column;
                    text-align: center;
                    position: fixed;
                    width: 100vw;
                    bottom: 0;
                    right: 0;
                    z-index: 40;
                    border-radius: 10px 10px 0 0;
                    box-shadow: 0 3px 10px #4242424d ;
                    transform: translateY(100%);
                     transition: transform 0.6s ease;
                    ul{padding: 0 2rem 2rem 2rem;}
                    .xIcon3{display: none;}
                    .xIcon4{position: relative;
                            text-align: end;
                            margin: 1rem;
                        }
                    li{
                        list-style: none; 
                        a{
                            font-size: 1.1rem;
                            color: $dark-grey;
                        }
                    }
                    &.showCate{
                        transform: translateY(0);
                        transition: 0.6s ease;
                        
                    }
                }
            }
        } //chiude main
    } //chiude body #consulenti
    
