hr{ color: $dark-grey;
    width: 90vw;
    margin: 0 auto;
    border: 0;
    height: 0;
    border-top: 2px solid rgba(0, 0, 0, 0.1);
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    }
footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    font-size: 0.8rem;
    padding: 4rem 0 ;
    margin: 0 7vw;
    div{
        p:nth-child(1){
            color: $red;
        font-size: 1.5rem;
        padding-bottom: 0.5rem ;
        }

        
    }
    p{color:$black; width:20vw;
        min-width: 250px;}
    a{ color: $dark-grey;}
}
@media (max-width: 915px){
    footer{
        @include grid-column(grid, repeat(2, auto), start);
        div{
            @include grid-col-startend(1,2);
        }
        p{@include grid-col-startend(2,3);} 

    }

} 
@media (max-width: 915px){
    footer{
        display: flex;
        flex-direction: column;
    }
}