.home-container1{
    @include grid-column(grid, 1fr 1fr 1fr, space-around);
    align-items: center;
    height: 100vh;
    
    .text-box1{ 
        @include grid-col-startend (2,3);
        margin-top: -100px;
        width:60% ;
        h2{
            padding-bottom: 3rem;
            font-size:4vw ;
        }
        p{
            font-size: 2vw; 
        } 
    } 
    button {
        @include grid-col-startend (3,4);
        height: 30px;
        width: auto;
        display: flex;
        justify-content: center;
        background: none;
        border: none;
        img{height: 30px;}
        transition: all 0.1s ease;
        
        &:active{transform: scale(0.95);}
    } 

 }

 .home-container2{
     @include grid-column (grid, 3fr 6fr 2.7fr 1.3fr, space-around);
     height: 100vh;
     
     h1{
         @include grid-col-startend (2,4);
         @include h1-primary;
         font-size: 4vw;
         align-self: center;
        
     }
     figure{
         background:url(../img/homeimg.jpg) no-repeat center center ;
         background-size: cover;
         @include grid-col-startend (2,3);
         border-radius: 15px;
         height: 350px;

     }
     p{
        @include grid-col-startend (3,4);
        margin-left: 2rem ;
       
        @include p-default;
        font-size: 1.7vw;
     }
 }

#slider{
    
    overflow-x: scroll;
    display: flex;
    
    width: 32vw;
  
   
    &::-webkit-scrollbar{
       display: none;
    }
    .slide{ 
        justify-self: center;
        width: 33vw;
        transition: ease 0.3s;
        padding-right: 10vw;
        &.next{
           padding-right: 0;
            transition: ease 0.3s;
            transform: translateX(-120%);
        }
    }
 
}

@media (max-width: 936px){
    .home-container1{
        display: flex;
        justify-content: center;
       .text-box{
           width: 50vw;
           .slide{
               width: 40vw;
               h2{
                   font-size: 3rem;
               }
               p{
                   font-size: 1.5rem;
               }
           }
       }
        
        button{
            display: flex;
            justify-content: flex-start;}
    }
    .home-container2{
        @include grid-column (grid, 2fr 1fr, space-around);
        margin: 0 3vw;
        h1{
            @include grid-col-startend (1,4); 
        }
        figure{ @include grid-col-startend (1,2);
                width: 55vw;
                max-height: 300px;}   
    }
    #slider{
        width: 45vw;
       .slide{
         justify-self: center;
           width: 50vw;
           margin: 0 auto;
           padding-right: 20vw;
       } 
    }
}
