.services-section {
    background-color: $white-sfondo;
    

    .service-container-1{
    height: 100vh;
    img{width: 20px; margin:0 auto; align-self: center;}
    // box-sizing: content-box;
    @include grid-column (grid, 3fr 8.7fr 1.3fr, space-around);
    .box-cards{
        align-self: center;
        @include grid-col-startend (2,3);
        @include grid-column (grid, repeat(3, 1fr), space-around);
        column-gap: 1rem;
        article{
            background-color: $white;
            height: 60vh;
            width: 27vw;
            border-radius: 15px;
            figure{
                height: 30vh ;
                border-radius: 10px;
                margin: 5px;
                display: flex;
                align-items: center;
            }

            .custom-button{
                @include custom-button;
                margin: 20px 40px;
            }
        }
        .empty{
            background-color: $black;
            display: flex;
            flex-direction: column;
            align-items: center;
            // min-width: 310px;
            p{
                margin: 10vh 3vw 0 3vw;
            }
            .custom-button{
                a{color: $white; &:hover{ color: $red;transition: ease 0.2s;}}
                align-self: flex-start;
                margin-left: 3vw;
            }
        }

   
    }
            


        button{
            background: none;
            border: none;
            img{height: 30px;}
            transition: all 0.1s ease;
            
            &:active{transform: scale(0.90);}
        }

        .wrapper{
            
            @include grid-col-startend(2,4);
            
            overflow-x: scroll;
            &::-webkit-scrollbar{
                display: none;
             }
            .slider{
                display: flex;
                gap: 1rem;
                width: calc(1400px + 3rem);
                // transform: translateX(-50%)
                transition: ease 0.4s;
                article:nth-of-type(2){
                    margin-right: 2rem;
                }
                
                &.scroll{
                     transition: ease 0.4s;
                     transform: translateX(-50%);
                     article:nth-of-type(2){
                        margin-right:0;
                    }
                    article:nth-of-type(3){
                        transition: 0.3s ease;
                        margin-left:-1rem;
                    }
                 }
           }
            }
            
       
        @media (max-width:1000px){
            display: flex;
            justify-content: center;
            margin: 0 3vw;
            .box-cards{
               .wrapper{
                grid-column-start: auto;
                grid-column-end: auto;
                width: calc(54vw + 2rem);
                article{
                    width: 27vw;
                    p{font-size: 1.2rem;}
                }
                .slider{
                    width: calc(96vw + 4rem);
                    article:nth-of-type(2){
                        margin-right: 0rem;
                    }
                    &.scroll{
                        transition: ease 0.4s;
                        transform: translateX(-55%);
                        article:nth-of-type(3){
                            transition: 0.3s ease;
                            margin-left:0rem;
                        }
                    }
                }
            }
        }
    }
    @media (max-width:880px){
        
        
            .box-cards{
                display: flex !important;
                flex-direction: column;
                gap: 1rem;
                .wrapper{
                    width: calc(70vw + 2rem);
                    article{
                        width: 35vw;
                        height:360px ;
                    }
                    .slider{
                        width: calc(140vw + 4rem);
                        &.scroll{
                            transform: translateX(-50%);
                        }
                    }
                }
                .empty{
                    width: 100%;
                    height: fit-content;
                    justify-content: flex-start;
                    align-items: flex-start;
                    p{margin: 2rem 2rem 0.5rem 2rem;}
                }
                
            }
        padding: 3rem 0;;
    }
} //chiude container2
        .service-container-2{
        padding-top: 10vh;    
        @include grid-column (grid, 3fr 2.7fr 6fr   1.3fr , space-around);
        height: 100vh;
        h1{
            @include grid-col-startend (2,4);
            @include h1-primary-bgw;
           padding-bottom: 3rem;
            
    }
    p{
        @include grid-col-startend (2,3);
        
        @include p-default-bgw;
        grid-row-start: 2;


     }
    #model-viewer {
        @include grid-col-startend (3,4);
        grid-row-start: 2;
        display: flex;
        justify-content: center;
        model-viewer{
            height: 500px;
            width: 500px;
        }
    }
    @media (max-width:1150px){
        h1{font-size: 3rem ; padding-top: 5rem;}
        p{font-size: 1.2rem ;}
        #model-viewer{
            model-viewer{
                width: 40vw;
            }
        }
    }
    @media (max-width:1000px){
       display: flex;
       flex-direction: column;
       margin: 0 3vw;
       align-items: center;
      
        #model-viewer{ 
                width: 40vw;
                // max-height: 200px;
                }   
        
    }
  
  }

}