$red: #c31a19;
$black: #191919;
$grey: #f3f3ef;
$white: #ffff;
$white-sfondo:#eaeaea;
$unactive: rgba(161, 161, 161, 0.8);
$dark-grey: rgba(54, 54, 54, 0.8) ;
$primary-font: 'Apertura', sans-serif, helvetica;
